* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Preloader */
#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: white url("./Image/Pinwheel.gif") no-repeat center;
  background-size: 7%;
}
/* Preloader */
/* container */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Mainbg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.weatherContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 1;
  padding: 0vh 2vw 2vh 2vw;
  width: 34%;
  gap: 2.5vh;
  min-height: 32vh;
  border: 2px solid white;
  border-radius: 10px;
}
.weatherContainer h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
  z-index: 1;
}
/* Input Section */
.weatherContainer form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  z-index: 1;
}
.weatherContainer form input[type="text"] {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 100%;
  height: 7vh;
  border-radius: 32px;
  padding: 1vh 1vw;
}
.weatherContainer form input[type="text"]::placeholder {
  color: #fff;
  text-align: center;
}
.weatherContainer form input[type="button"] {
  padding: 1.5vh 3.2vw;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 32px;
  transition: 0.5s;
}
.weatherContainer form input[type="button"]:hover {
  transform: scale3d(0.8, 0.8, 0.8);
  box-shadow: 3px 4px 10px white;
}

/* Input Section */
/* Display Information */
.infoContainer {
  color: white;
  text-align: center;
  z-index: 1;
  /* make it display hide */
  /* display: none; */
}
.infoContainer img {
  width: 25%;
}
#temp {
  font-size: 4.5rem;
  font-weight: 500;
}
#showName {
  font-size: 3rem;
  font-weight: 600;
}
.col h3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.col h5 {
  font-weight: 400;
}
.speedInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}
.col {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  text-align-last: left;
}
.col img {
  width: 26%;
}
/* Display Information */

/* Responsiveness */

@media (max-width: 1000px) {
  .weatherContainer {
    width: 90%;
  }
  .weatherContainer form input[type="text"] {
    padding: 1vh 4vw;
    width: 80%;
  }
  .weatherContainer form input[type="button"] {
    padding: 1.5vh 10vw;
  }
}
